.table-fixed{
    max-height: 100vh;
    overflow: auto;
}

.table  {
    thead tr th{
        position: sticky;
        top: 0;
        background-color: #f7f7f7;
    }

    thead .info th{
        top: 3.1rem;
    }

    .city td{
        background-color:#D1F0DA;
        color:#F00;
        font-weight:bold;
        text-align:left;
        vertical-align:top
    }

    .district td{
        background-color:#D9D9D9;
        font-weight:bold;
        text-align:left;
        vertical-align:top
    }
}

